$mainMaroon: #800000;
$greyMaroon: #846464;  /*#997272*/
$mainGrey: #5a5b5d;
$darkGrey: #343434;
$lightGrey: #a3a3a3;
$extraLightGrey: #ececec; /*#fafafa;  #d1d1d1*/
$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$test: 'themes/test';
